.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(50, 167, 145);
  align-items: center;
}

.trybewarts-login {
  display: flex;
  justify-content: flex-end;
  width: 20px;
  height: 20px;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#family {
  display: flex;
  flex-direction: column;
}

#content {
  display: flex;
  flex-direction: column;
}

#divPai {
  display: flex;
}

footer {
  background-color: grey;
}
